# dotenv environments
.env

# Lavalink related files
Lavalink.jar
application.yml
logs/

# Unfinnished code - a mess, really
src/commands/config
src/commands/quiz/add-song.txt
src/commands/text/invite.txt
data/song.json

# Notes
notes/

# Dependencies
node_modules/
package-lock.json

# MacOS System file
.DS_Store
