# dotenv environments
.env

# Lavalink related files
Lavalink.jar
application.yml
logs/

# Unfinnished code - a mess, really

# Notes
notes/

# Dependencies
node_modules/
package-lock.json

# MacOS System file
.DS_Store
