# dotenv environments
.env

# Lavalink related files
Lavalink.jar
application.yml
logs/

# Unfinnished code - a mess, really
src/commands/music/toca.js
src/commands/text/help.js

# Notes
notes/

# Dependencies
node_modules/
package-lock.json

# MacOS System file
.DS_Store